

/* Home */
.Home{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.667), rgba(255, 0, 0, 0.761), tomato);
    height: 100vh;
}

.Home-content{
    width: 50%;
    color: aliceblue;
}

